:root {
    --violet : hsl(257, 40%, 49%);
    --softmagenta :hsl(300, 69%, 71%);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@400;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    background-image: url(images/bg-mobile.svg);
    background-color: var(--violet);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

body {
    max-height: 100vh;
    max-width: 100vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: white;
    margin: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;



}

header {
    margin-bottom: 4rem;

    
}

header img {
    display: block;
    max-width: 45%;

}

main {
    display: flex;
    flex-direction: column;

}

.illustration {
    margin-bottom: 5rem;
}

.illustration img {
    width: 100%;
    display: block;
}


.texts h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.65rem;
    margin-bottom: 1.5rem;

}

.texts p {
    line-height: 1.75rem;

    font-size: 0.97em;
    margin-bottom: 2.2rem;
}

.texts a {
    display: inline-block;
    background-color: white;
    text-decoration: none;
    color: var(--violet);
    padding: 0.8rem 6rem 0.8rem 6rem;
    border-radius: 20rem;
    box-shadow: 0rem 0rem .85rem rgba(48, 5, 68,0.5);
    font-family: 'Poppins', sans-serif;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    height: 2.5rem;   
}

footer a {
    display: block;
    color: white;
    border: 1px solid white;
    font-size: 1rem;
    padding: .3rem .5rem .3rem .5rem;
    margin-left: .8rem;
    border-radius: 50rem;
}


@media screen and (min-width : 65rem){
    html {
        background-image: url(images/bg-desktop.svg);
        background-size: cover;
    }
    
    body {
        text-align: left;
        margin: 5rem;



    }
    
    main {
        flex-direction: row;
        justify-content: center;



    }
    header img {
        width: 15%;
    }
    .illustration {
        min-width: 55%;

        margin-bottom: 0rem;
    }

    .texts {
        min-width: 45%;
        padding-left: 2rem;
        padding-top: 2.5rem;
    }

    .texts h1 {
        font-size: 2.2rem;
    }

    .texts p {
        font-size: 1rem;
    }

    .texts a {
        padding: .65rem 4rem .65rem 4rem;
    }

    footer {
        align-items: center;
        justify-content: end;
    }
}